body {
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("images/forest1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#show-time {
  color: rgb(21, 21, 21);
  margin-right: 25px;
  font-weight: bold;
}
#show-date {
  color: rgb(0, 0, 0);
  font-weight: 100;
}
.headerBox {
  display: flex;
  justify-content: center;
}
.time-box {
  width: 17rem;
  background-color: rgba(209, 209, 209, 0.511);
  display: flex;
  justify-content: center;
  padding: 0.3em;
  border-radius: 1em;
  margin-top: 1rem;
}
.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
#headerInput {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 3.5rem;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  background-color: rgba(240, 248, 255, 0);
  margin-bottom: 2rem;
}
#headerInput::placeholder {
  color: white;
}
h2 {
  font-size: 1.6rem;
  font-weight: 50;
  color: rgb(32, 32, 32);
}
main {
  width: 100vw;
  display: flex;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
#linkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 16rem;
  overflow-y: auto;
}
.bigLink a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-self: start;
  margin-left: 0px;
}
.bigLink img {
  margin-right: 20px;
}
.bigLink button {
  display: flex;
  justify-self: end;
  align-self: end;
  border-radius: 5rem;
  border: 3px solid rgb(178, 178, 178);
  font-weight: bold;
  color: rgb(178, 178, 178);
  height: 22px;
}
#linkcard {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.addLink {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: rgba(241, 241, 241, 0.953);
  padding: 3rem 5rem;
  border-radius: 15px;
  z-index: 2;
  position: absolute;
  margin-top: 10rem;
  box-shadow: 0px 0px 20px black;
}
.hidden {
  display: none;
}
.addLinkInputs {
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
  padding: 10px;
}
.addLink h2 {
  margin-bottom: 0rem;
}
#addBtn {
  margin-top: 1rem;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
  border: none;
  font-size: 17px;
  font-weight: bold;
  background-color: rgba(168, 194, 173, 0.819);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.441);
  color: rgb(255, 255, 255);
}
#addBtn:hover {
  background-color: rgba(190, 218, 195, 0.819);
}
#addBtn:active {
  background-color: rgba(142, 162, 146, 0.819);
  box-shadow: none;
}
#closeBtn {
  margin-top: 1rem;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
  border: none;
  font-size: 17px;
  font-weight: bold;
  background-color: rgba(194, 172, 168, 0.819);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.441);
  color: rgb(255, 255, 255);
}
#closeBtn:hover {
  background-color: rgba(218, 191, 190, 0.819);
}
#closeBtn:active {
  background-color: rgba(167, 147, 147, 0.819);
  box-shadow: none;
}
.cardBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  justify-self: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgba(181, 181, 181, 0.607);
  width: 18.5em;
  height: 24em;
  max-height: 24em;
  padding-top: 1em;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.223);
  border-left: 2px solid rgba(255, 255, 255, 0.548);
  border-top: 2px solid rgba(255, 255, 255, 0.705);
}
.card h2 {
  margin: 15px 0px 10px 0px;
}

.bigLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background: rgba(255, 255, 255, 0.467);
  padding: 1em;
  max-height: 1.5em;
  border-radius: 0.5em;
  margin: 5px 0px 5px 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.223);
}
.bigLinkText {
  display: flex;
  align-items: center;
}
.bigLinkText img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 10px;
}
.bigLinkRemoveButton {
  display: flex;
  margin-bottom: 15px;
}
#addLinkBtn {
  text-decoration: none;
  background-color: rgba(178, 178, 178, 0.563);
  color: white;
  padding: 0.5em;
  width: 9rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.481);
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}
#weatherList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherIcon {
  font-size: 2.3rem;
  background-color: rgba(234, 234, 234, 0.982);
  border-radius: 35px;
  margin-right: 20px;
  margin-left: 5px;
}
.weatherItem {
  background: rgba(255, 255, 255, 0.467);
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0.5rem;
  width: 115%;
  border-radius: 7px;
  font-size: 0.8rem;
}
.weatherDate {
  font-weight: bold;
}
.weatherBox {
  display: flex;
  flex-direction: column;
}
.tempText {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.weatherTemp {
  background-color: rgba(255, 255, 255, 0.693);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.weatherText {
  background-color: rgba(255, 255, 255, 0.693);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#newsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 16rem;
}
.articleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.467);
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1rem 1rem 0rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.articleDiv a {
  text-decoration: none;
  color: rgb(12, 3, 72);
  font-weight: bold;
  display: flex;
  align-self: center;
  font-size: 13px;
}
.articleDiv p {
  text-decoration: none;
  color: rgb(39, 39, 39);
  display: flex;
  align-self: end;
  font-size: 13px;
}
.articleDiv img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.481);
}
#refreshBtn {
  text-decoration: none;
  background-color: rgba(178, 178, 178, 0.563);
  color: white;
  padding: 0.5em;
  width: 9rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.481);
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.footerBox {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.footerBox p {
  font-size: 30px;
  margin-right: 10px;
}
.footerBox a {
  text-decoration: none;
  width: 13rem;
  height: 1.5rem;
  background-color: rgba(199, 199, 199, 0.729);
  display: flex;
  color: rgb(24, 24, 24);
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.5em;
}
.footerBox a:hover {
  background-color: rgba(232, 232, 232, 0.729);
}
.footerBox a:active {
  background-color: rgba(232, 232, 232, 0.392);
}
#notes {
  width: 19em;
  height: 18em;
  border: none;
  border-radius: 1em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.116);
  padding: 1rem;
  opacity: 0.6;
}
